:root {
  --brand-orange: #ff3f15;
  --bg-color: #ffffff;
  --font-family:
    "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #ffe6df;
  color: #f86a3f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffe6df;
}

::-webkit-scrollbar-thumb {
  background: #ff3f15;
  border: 1px solid #ff3f15;
  border-radius: 999px;
}

::-moz-selection {
  background-color: #ffe6df;
  color: #f86a3f;
}

html,
body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--brand-orange);
  overflow-x: hidden;
  scrollbar-color: #ff3f15 #ffe6df;
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: auto;
  scroll-padding-top: 24px;
}

#root {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-color);
}
